<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>
        Hi there,<br><br>
        We're delighted so many of you can join us for our wedding. We've been so busy planning everything with the wedding being just 5 weeks away.
      </p>
      <p>We finally got round to making a gift list and want to share it with you. Whilst we by no means expect gifts from anyone attending our wedding, we are aware that a number of people would like the opportunity to bless us in this way.</p>
      <p>We have put together a John Lewis gift list, this can be found <a href="https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp" target="_blank">here.</a></p>
      <p>Please enter our gift list code of <strong>716578</strong>, there is no password.</p>
  </body>
</html>
