<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi everyone,</br></br>
      So tomorrow is the big day! We are so looking forward to celebrating it with you all.</br></br>
      The wedding starts at 16:30 at Cloverly Hall, Whitchurch, SY13 4PH. Followed by a BBQ reception after.<br>
      Directions can be found using <a href="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJP9tNyoGOekgRQlIq1rsiwbQ&key=<%= ENV["google_maps_key"] %>&zoom=13">Google Maps</a>.
    </p>
    <p>
      <p>For those who want to buy us a gift, we have put together a John Lewis gift list, this can be found <a href="https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp" target="_blank">here.</a></p>
      <p>Please enter our gift list code of <em>716578</em>, there is no password.</p>
    </p>
    <p>
      <strong>Please note, there will be no bar or alcohol available at the reception. You are more than welcome to bring your own.</strong>
    </p>
    <p>
      Lots of love,<br><br>
      Dan & Beth
    </p>
  </body>
</html>
