<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <iframe width="400" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:<%= @location %>&key=<%= @api_key %>" allowfullscreen></iframe>
  </div>
</div>
