<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <%= form_tag("/search", method: "post") do %>
    <%= render "shared/page_title", title: "Welcome" %>
    <p>To RSVP to Dan & Beth's Wedding on 28th September 2017 please enter the code on your invitation in the field below.</p>
    <!-- Img tag with image of invite and code, once done -->
      <div class="form-group">
        <div class="">
          <%= text_field_tag(:q, nil, placeholder: "Enter your unique code", class: "form-control", autofocus: true) %>
        </div>
      </div>
      <%= submit_tag("Search", class: "btn btn-primary btn-block")%>
    <% end %>
  </div>
</div>
