@import "bootstrap-sprockets";
@import "bootstrap";

.background {
  // background-image: url(/assets/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.rsvp-buttons {
  margin-bottom: 10px;
}
.new-invitation {
  margin-bottom: 10px;
}
.callout-text {
  text-align: center;
  margin-top: 150px;
  color: gray;
}

.display-none{
  display:none;
}
// Messages Index
.message-view {
  margin: 10px;
  background-color: #FFE6E5;
  border-radius: 5px;
  color: #F699CD;
}
.button-container {
  margin: 10px 0;
}
.read-btn {
  color: #fff;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
}
.read {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.unread {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.radio-buttons span.first-btn {
  margin: 10px 0;
}
.radio-buttons span.second-btn {
  margin: 10px;
}
.radio-buttons span label {
  margin-left: 3px;
}
// #toggle-display {
//   display: none;
// }
