@import "bootstrap-sprockets";
@import "bootstrap";

.background {
  // background-image: url(/assets/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.rsvp-buttons {
  margin-bottom: 10px;
}
.new-invitation {
  margin-bottom: 10px;
}
